*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 98vw;
    height: 100vh;
    background-color: black;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
}


h1{
    text-align: center;
    margin-top: 21.44px;
}

.item{
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    margin: 15px;
    padding: 10px;
    border-radius: 4px;
    display: grid;
    gap: 8px;
}

/*.item p{
    margin: 8px 0px;
}*/

.comprar{
    background-color: #a8f;
    color: #103;
    padding: 10px 10px;
    border-radius: 4px;
    text-decoration: none;
}

